{% extends "base.html.twig" %}
	{% block title %}Inscription{% endblock %}
		{% block body %}
			<section  style="background-image:url({{ asset ('uploads/articles/background-inscription.jpg')| imagine_filter ('my_background') }}); background-position: center left; background-size: cover;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
							<div class=" p-4 p-sm-5 bg-warning rounded"style="--bs-bg-opacity: .8;">
								<h1 class="text-center">Inscription</h1>
								{{ form_start(registrationForm) }}
								<div class="form-group mb-2 mx-2 fw-bold text-black">
									{{ form_row(registrationForm.nom) }}
									</div>
									<div class="form-group mb-2 mx-2 fw-bold text-black">
									{{ form_row(registrationForm.prenom) }}
									</div>
									<div class="form-group mb-2 mx-2 fw-bold text-black">
									{{ form_row(registrationForm.pseudo) }}
									</div>
									<div class="form-group mb-2 mx-2 fw-bold text-black">
									{{ form_row(registrationForm.email) }}
									</div>
									<div class="form-group mb-2 mx-2 fw-bold text-black">
									{{ form_row(registrationForm.plainPassword, {label: 'Mot de passe:'} ) }}
									</div>
									<div class="form-group mb-2 mx-2 fw-bold text-black">
									{{ form_row(registrationForm.RGPDConsent) }}
									</div>

									<div class="text-center">
										<button type="submit" class="btn btn-outline-dark col-9 mx-auto fs-6 rounded-pill">S'inscrire</button>
										{{ form_end(registrationForm) }}
									</div>
									<!-- Social-media btn -->
										<div class="text-center">
											<ul class="list-unstyled d-sm-flex mt-3 justify-content-center">
												<li class="mx-2">
													<a href=" {{path ('app_login_linkedin')}} " class="btn btn-outline-primary d-inline-block rounded-pill">
														<i class="bi bi-linkedin mx-2"></i>S'inscrire avec LinkedIn</a>
												</li>
											</ul>
										</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		{% endblock %}

