<!-- =======================
Footer START -->
<footer class="bg-dark pt-5">
	<div
		class="container">
		<!-- Widgets START -->
		<div
			class="row pt-5">
			<!-- Footer Widget -->
			<div class="col-md-6 col-lg-3 mb-4">
				<h5 class="mb-4 text-white"></h5>
				<!-- Item -->
			
				
				<div class="mb-4 position-relative">
					<div>
						<!--<a href="#" class="badge bg-danger mb-2">
							<i class="fas fa-circle me-2 small fw-bold"></i></a>-->
					</div>
					<a href="#" class="btn-link text-white fw-normal"></a>
					<ul class="nav nav-divider align-items-center small mt-2 text-muted">
						<li class="nav-item position-relative">
							<div class="nav-link">
								<a href="#" class="stretched-link text-reset btn-link"></a>
							</div>
						</li>
						<li class="nav-item"></li>
					</ul>
				</div>
				
			</div>

			<!-- Footer Widget -->
			<div class="col-md-6 col-lg-3 mb-4">
				<h5 class="mb-4 text-white">Navigation</h5>
				
				<div class="row">
					<div class="col-6">
						<ul class="nav flex-column text-primary-hover">
						{% for categorie in categoryService.getNotInMenuCategories %}	
							<li class="nav-item">
									<a class="nav-link pt-0" href="{{path('app_category_index', {'slug':categorie.slug})}}">{{ categorie.nom }}</a>
							</li>
						{% endfor %}
						{% for categorie in categoryService.getInMenuCategories %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_category_index', {'slug': categorie.slug})}}" class="nav-link dropdown-toggle" id="{{ categorie.slug }}"></a>
							</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<!-- Footer Widget -->
			<div class="col-sm-6 col-lg-3 mb-4">
				<h5 class="mb-4 text-white">
					Nous Suivre
				</h5>
				<ul class="nav flex-column text-primary-hover">
					<li class="nav-item">
						<a class="nav-link" href=" {{path('app_contact')}} ">
							<i class="far fa-envelope fa-fw me-2"></i>Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pt-0" href=" {{path ('app_login_linkedin')}} ">
							<i class="fab fa-linkedin fa-fw me-2"></i>Linkedin</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=" {{path ('app_newsletter')}} ">
							<i class="far fa-envelope fa-fw me-2"></i>Newsletters</a>
					</li>
				</ul>
			</div>

			<!-- Footer Widget -->
			<div class="col-sm-6 col-lg-3 mb-4">
				<div class="col">
					<a href="#"><img class="w-100" src={{ asset ('images/logo.png' )}} alt="app-store"></a>
				</div>
			</div>
		</div>
		<!-- Widgets END -->
	</div>

	<!-- Footer copyright START -->
	<div class="bg-dark-overlay-3 mt-5">
		<div class="container">
			<div class="row align-items-center justify-content-md-between py-4">
				<div
					class="col-md-6">
					<!-- Copyright -->
					<div class="text-center text-md-start text-primary-hover text-muted">©2022
						<a href=" {{path ('app_home')}} " class="text-reset btn-link" target="_blank">Yadelair</a>.
						Tous droits réservés
					</div>
				</div>
				<div
					class="col-md-6 d-sm-flex align-items-center justify-content-center justify-content-md-end">
					<!-- Links -->
					<ul class="nav text-primary-hover text-center text-sm-end justify-content-center justify-content-center mt-3 mt-md-0">
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_condition_general')}}">Conditions générales</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href=" {{path ('app_privay_policy')}} ">Politique de confidentialités</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pe-0" href=" {{path('app_mention_legal')}} ">Mentions légales</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pe-0" href=" {{path ('app_charte_site')}} ">Charte du site</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer copyright END -->
</footer>
<!-- =======================
Footer END -->

<!-- =======================
Cookies alert START 
<div class="alert alert-dismissible fade show bg-dark text-white position-fixed start-0 bottom-0 z-index-99 shadow p-4 ms-3 mb-3 col-9 col-md-4 col-lg-3 col-xl-2"
    role="alertdialog">Ce site web enregistre des cookies sur votre ordinateur. Pour en savoir plus sur les cookies que nous utilisons, consultez notre page 
	<a class="text-white" href=" {{path ('app_privay_policy')}} ">Politique de confidentialités</a>
    <div class="mt-4">
        <button type="button" class="btn btn-success-soft btn-sm mb-0" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">Accepter</span>
        </button>
        <button type="button" class="btn btn-danger-soft btn-sm mb-0" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">Refuser</span>
        </button>
    </div>
    <div class="position-absolute end-0 top-0 mt-n3 me-n3"><img class="w-25" src="{{ asset ('images/logo.png' )}}" 
            alt="cookie"></div>
</div>
<!--=======================
Cookies alert END -->

<!-- Ancre de retour en haut de page  -->
	<div class="back-top ql-color-yellow"> <i class="bi bi-arrow-up-short"></i>
</div></body></html>
