{% extends 'base.html.twig' %}

{% block title %}{{categorie.nom}}
{% endblock %}




{% block body %}
	<!--initiative intro START -->
	<section class="pt-4">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bg-dark p-4 text-center rounded-3">
						<h1 class="text-white">{{categorie.nom}}</h1>
						<nav class="d-flex justify-content-center" aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-dark m-0">
								<li class="breadcrumb-item">
									<a href=" {{path('app_home')}} ">
										<i class="bi bi-house me-1"></i>
										Accueil</a>
								</li>
								<li class="breadcrumb-item active">
									{{categorie.description| raw}}
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	initiative intro END -->


	<!--carte initiative START -->
	<section class="position-relative pt-0">
		<div class="container">
			<div class="row filter-container overflow-hidden" data-isotope='{"layoutMode": "masonry"}'>
				<!--je boucle ma catégorie initiative -->
				<!--je récupère mon dernieres articles de ma catégorie-->
				{% set images = categorie.articles|last %}
					<!--j'affiche les articles de la catégorie initiative paginé-->
				{% for article in paginations %}
					<!--début de la carte START -->
					<div class="col-sm-6 col-lg-4 grid-item">
						<div
							class="card mb-4">
							<!-- img -->
							<div class="card-fold position-relative">
								<img class="card-img" src=" {{ vich_uploader_asset (article, 'imageFile')|default(asset('uploads/articles/placeholder.jpg'))| imagine_filter ('card') }} " alt="Card image">
							</div>
							<div class="card-body px-0 pt-3">
								<h4 class="card-title">
									<a href=" {{path('app_article_index',{'slug':article.slug})}} " class="btn-link text-reset stretched-link fw-bold">
										{{article.titre}}
									</a>
								</h4>
								<p class="card-text">
									{{article.contenu}}
								</p>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center text-uppercase small">
									<li class="nav-item">
										<a href="{{path ('app_user_profil')}}" class="btn-link text-reset">{{article.auteur}}</a>
									</li>
									<li class="nav-item">{{ article.createdAt|date('d/m/Y') }}</li>
								</ul>
							</div>
						</div>
					</div>
				{% endfor %}
				<!--fin  de la carte END -->
			</div>
		</div>
	</div>
	<!--carte initiative END -->

		<!--Button pagination START -->
		<div class="container-fluid pagination justify-content-center my-3">

			{{ knp_pagination_render(paginations,'base/pagination.html.twig') }}
	
		</div>
	
		<!-- =======================
		Button pagination END -->
{% endblock %}
