{% extends "base.html.twig" %}

{% block title %}
	{{article.slug}}
{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-9 mx-auto pt-md-5">
					<!--BOUCLE FOR SUR LES ARTICLES PAR CATÉGORIE-->
					{% for category in article.categorie %}
						<a href="{{ path('app_category_index', {"slug": category.slug}) }}"></a>
					{% endfor %}
				</div>
				<!--IMAGE DE L'ARTICLE-->
				<img class="rounded mt-5" src="{{ vich_uploader_asset (article, 'imageFile')|default(asset('uploads/articles/Yadelair1.jpg'))| imagine_filter ('article') }}" alt="Image">
			</div>
			<section>
					<div class="col-lg-7 mx-auto">
					<!--TITRE DE L'ARTICLE-->
					<h1 class="display-4 fw-bold text-center">{{article.titre}}</h1>
					<!--CONTENU DE L'ARTICLE-->
					<p class="bg-black-soft text-black px-2">{{article.contenu|raw}}</p>
				</div>
			</section>
					<!--CONTENU VIDEO-->
					{% if article.videoName is not empty %}
						<div class="embed-responsive embed-responsive-16by9">
							<video controls class="embed-responsive-item " title="{{article.videoName}}"> 
								<source src="{{vich_uploader_asset (article,'videoFile')}}" allowfullscreen>
							</video>
						</div>
					{% endif %}

				<div class=" d-flex justify-content-center">
					<ul class="nav nav-divider align-items-center">
						<li class="nav-item">
							<p class="fst-italic">
								<small>Publié par:</small>
								<!-- LIEN VERS L'AUTEUR DE L'ARTICLE-->
								<a class=" btn-link text-capitalize " href="{{ path ('app_user_profil') }}">
									{{article.auteur}}
									<br>
									<!--DATE DE PUBLICATION DE L'ARTICLE-->
									<small class=" fst-italic">le: {{article.createdAt|date('d/m/Y')}}</small>
								</a>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
