{% extends "base.html.twig" %}
	

{% block body %}
	<!-- =======================
				TITRE DE L'ARTICLE START -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-9 mx-auto pt-md-5">
                    {% for category in article.categorie %}                        
                        <a href="{{ path('app_category_index', {"slug": category.slug}) }}" ></a>
                    {% endfor %}
					<h1 class="display-4 fw-bold text-capitalize">
						{{article.titre}}
					</h1>

					<!-- Info -->
					
				</div>
				
					<img class="rounded mt-5" src="{{ vich_uploader_asset (article, 'imageFile')|default(asset('uploads/articles/Yadelair1.jpg'))| imagine_filter ('article') }}" alt="Image">
					
					
					
			</div>

		</div>
	</section>
	<!-- =======================
				Titre de l'article END -->

	<!-- CONTENUE DE L'ARTICLE START -->
	<section>
		<!--definir la largeur du texte de l'article-->
		<div class="col-lg-7 mx-auto">
			<p>
				<span class="dropcap bg-primary-soft text-primary px-2"></span>
				{{article.contenu|raw}}
			</p>
				
			<video controls src="{{ vich_uploader_asset (article, 'videoFile')|default(asset('uploads/articles/Yadelair1.mp4'))}}"></video>
			
				
			<ul class="nav nav-divider align-items-center">
				<li class="nav-item">
					<div>
						<p class="fst-italic">Article Rédigé par:
							<a class=" btn-link text-capitalize fs-5" href="{{ path ('app_user_profil') }}">
								{{article.auteur}}
							</a>
						</p> 
						<p class=" fst-italic">le: {{article.createdAt|date('d/m/Y')}}</p>
					</div>
				</li>
			</ul>
			
			<!-- Divider -->
			<hr>
		</div>
	</section>
		{% endblock %}
