{% extends "base.html.twig" %}
	

{% block body %}
	<!-- =======================
				TITRE DE L'ARTICLE START -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-9 mx-auto pt-md-5">
                    {% for category in article.categorie %}                        
                        <a href="{{ path('app_category_index', {"slug": category.slug}) }}" class="badge bg-danger mb-2">
                            <i class="fas fa-circle me-2 small fw-bold"></i>
                            {{category.nom}}
                        </a>
                    {% endfor %}
					<h1 class="display-4">
						{{article.titre}}
					</h1>

					<!-- Info -->
					<ul class="nav nav-divider align-items-center">
						<li class="nav-item">
							<div class="nav-link">
								par
								<a href="{{path('app_profil')}}" class="text-reset btn-link">
									{{article.auteur}}
								</a>
							</div>
						</li>
						<li class="nav-item">{{ article.createdAt|date('d/m/Y') }}</li>
					</ul>
					</div>
					<img class="rounded mt-5" src="{{ vich_uploader_asset (article, 'imageFile')|default(asset('uploads/articles/placeholder.jpg'))| imagine_filter ('article') }}" alt="Image">
			</div>

		</div>
	</section>
	<!-- =======================
				Titre de l'article END -->

	<!-- CONTENUE DE L'ARTICLE START -->
		<div class="col-lg-9 mx-auto">
			<p>
				<span class="dropcap bg-primary-soft text-primary px-2"></span>
				{{article.contenu|striptags}}
			</p>

			<p class="text-center">Publié le {{article.createdAt|date('d/m/Y')}} <br> Par {{article.auteur}}</p>
			<!-- Divider -->
			<hr>
		</div>
		{% endblock %}
