{% extends "base.html.twig" %}

{% block body %}
	<!-- =======================
				TITRE DE L'ARTICLE START -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-9 mx-auto pt-md-5">
                    {% for category in article.categorie %}                        
                        <a href="{{ path('app_category_index', {"slug": category.slug}) }}" class="badge bg-danger mb-2">
                            <i class="fas fa-circle me-2 small fw-bold"></i>
                            {{category.nom}}
                        </a>
                    {% endfor %}
					<h1 class="display-4">
						{{article.titre}}
					</h1>

					<!-- Info -->
					<ul class="nav nav-divider align-items-center">
						<li class="nav-item">
							<div class="nav-link">
								par
								<a href="{{path('app_profil')}}" class="text-reset btn-link">
									{{article.auteur}}
								</a>
							</div>
						</li>
						<li class="nav-item">{{ article.createdAt|date('d/m/Y') }}</li>
					</ul>
					</div>
					<img class="rounded mt-5" src="{{ vich_uploader_asset (article, 'imageFile')|default(asset('uploads/articles/placeholder.jpg'))| imagine_filter ('article') }}" alt="Image">
			</div>

		</div>
	</section>
	<!-- =======================
				Titre de l'article END -->

	<!-- CONTENUE DE L'ARTICLE START -->
		<div class="col-lg-9 mx-auto">
			<p>
				<span class="dropcap bg-primary-soft text-primary px-2"></span>
				{{article.contenu}}
			</p>

			<p class="text-center">Publié le {{article.createdAt|date('d/m/Y')}} <br> Par {{article.auteur}}</p>
			<!-- Divider -->
			<hr>

		

			<!-- Auteur info START -->
			<div
				class="d-flex p-2 p-md-4 mt-5 border rounded">
				<!-- Avatar -->
				<a href="#">
					<div class="avatar avatar-xxl me-2 me-md-4">
						<img class="avatar-img rounded-circle" src="{{ vich_uploader_asset (article, 'imageFile')| imagine_filter ('avatar') }}" alt="avatar">
					</div>
				</a>
				<!-- Info -->
					<div>
						<div class="d-sm-flex align-items-center justify-content-between">
							<div>
								<h4 class="m-0">
									<a href="{{path('app_profil')}}">{{article.auteur}}</a>
								</h4>
							</div>
							<a href="{{path('app_profil')}}" class="btn btn-xs btn-warning">Voir d'autres articles de cette auteur</a>
						</div>
							<p class="my-2">Louis Ferguson is a senior editor for the blogzine and also reports on
																			breaking news based in London. He has written about government, criminal justice,
																			and the role of money in politics since 2015.</p>
						<!-- Social icons -->
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link ps-0 pe-2 fs-5" href="#">
									<i class="fab fa-facebook-square"></i>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-2 fs-5" href="#">
									<i class="fab fa-twitter-square"></i>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-2 fs-5" href="#">
									<i class="fab fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
			</div>
		</div>
			<!-- Auteur info END -->
		{% endblock %}
